.links {
  background-color: whitesmoke;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 5px;
}
@media ( max-width: 500px ) {
  .links {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: violet;
}
.titles {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: skyblue;
}
@media ( max-width: 500px ) {
  .titles {
    height: 60vh;
  }
}
.titles .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  cursor: pointer;
  width: 300px;
  height: 45px;
  font-size: 1rem;
  border-radius: 100px;
  color: skyblue;
}
.titles .buttons:hover {
  background-color: skyblue;
  color: skyblue;
}
@media ( max-width: 500px ) {
  .titles .buttons {
    display: flex;
    flex-direction: column;
  }
}
.titles .buttons .button {
  border: 1px solid black;
  padding: 1rem 2.5rem;
  border-radius: 7px;
}
.titles .buttons .button:hover {
  background-color: white;
}
.main {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
@media ( max-width: 500px ) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
.main .img-container {
  display: flex;
  justify-content: center;
}
.main .img-container img {
  border-radius: 10px;
  width: 40%;
  height: 30%;
}
.about {
  display: flex;
  text-align: center;
}
.diet {
  text-align: center;
}
.learnmore {
  background-color: skyblue;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  font-size: 1.5rem;
  border-radius: 10px;
  color: black;
}
.learnmore:hover {
  background-color: black;
  color: skyblue;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainabout {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media ( max-width: 500px ) {
  .mainabout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media ( max-width: 800px ) {
  .mainabout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
img {
  border-radius: 50%;
  height: 40%;
  width: 20%;
  border: 2px solid black;
}
@media ( max-width: 500px ) {
  img {
    height: 60%;
    width: 30%;
  }
}
@media ( max-width: 800px ) {
  img {
    height: 60%;
    width: 30%;
  }
}
.team {
  width: 40%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media ( max-width: 500px ) {
  .team {
    height: 40%;
    width: 70%;
    padding: 30px;
  }
}
@media ( max-width: 800px ) {
  .team {
    height: 40%;
    width: 70%;
    padding: 30px;
  }
}
.diets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dietimgs {
  display: flex;
  justify-content: center;
}
.dietimgs img {
  width: 80%;
  border-radius: 10px;
}
.section-container {
  border: 2px solid lightskyblue;
  margin: 25px 15px 20px 10px;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
}
@media ( max-width: 500px ) {
  .section-container {
    width: 100%;
    border: none;
  }
}
@media ( max-width: 800px ) {
  .section-container {
    width: 80%;
    border: none;
  }
}
.h2sup {
  padding: 30px;
  width: 100%;
  text-align: center;
}
