.mainabout {
    height: 360vh;
    @media @tablet {
        height: 100%;
    }
}

img {
    
    border-radius: 50%;
    height: 40%;
    width: 20%;
    border: 2px solid black;
    @media @phone {
        height: 60%;
        width: 30%;
    }
    @media @tablet {
        height: 60%;
        width: 30%;
    }
}

.team {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;  
}

