.signin(@bg-colour:skyblue, @width: 300px, @font-colour: skyblue){
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @bg-colour;
    cursor: pointer;
    width: @width;
    height: 45px;
    font-size: 1rem;
    border-radius: 100px;
    color:@font-colour; 

    &:hover{
        background-color:@font-colour;
        color:@bg-colour;
      }
}